* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Encode Sans Expanded', sans-serif;
}

button,
input,
textarea {
	outline-style: solid;
	outline-color: transparent;
	text-decoration: none;
}

p {
	font-family: 'Roboto', sans-serif;
}
